doctype html 
html 
head 
   link(rel="shortcut icon", href="images/logo.png", type="image/x-icon")
   
    style.
        body{
        background-color:black;
        font-weight:Poppers;
        color:white;
        text-align:center;
        padding-top:100px;
        }
        a{
            color:white;
        } 
        a:hover{
           color:red;
        } 
    h3 Contact us from anywhere 
    a(href="#") Mugicc HQ
    a(href="#") Mugicc USA Inc
    a(href="#") 4 World Trade Center
    a(href="#") 150 Greenwich Street, 62nd Floor
    a(href="#") New York, NY 10007
    a(href="#") USA office@Mugicc.com
    a(href="#") Mugicc around the world
    a(href="#") Mugicc Belgium
    a(href="#") Square de Meeus 374th floor1000 Brussels
    a(href="#") Belgium office@Mugicc.com
    a(href="#") Mugicc GmbHc/o MindspaceKrausenstraße 9-1010117 Berlin
    a(href="#") Germany office@Mugicc.com
    a(href="#") Mugicc Canada Inc.220 Adelaide Street West M5H 1W7 Toronto Ontario
    a(href="#") Canadaoffice@Mugicc.comMugicc Denmark ApSVestergade 27, 1th 1456 København K
    a(href="#") Denmarkoffice@Mugicc.com Mugicc SPAIN SLPaseo de Recoletos,
    a(href="#") Spain office@Mugicc.com  7-9 28004 Madrid 
    a(href="#") Mugicc Finland Oy  Merimiehenkatu 36 D
    a(href="#") FI-00150 Helsinki
    a(href="#") Finlandoffice@Mugicc.com
    a(href="#") Mugicc France SAS 48 Rue la Bruyère, 75009
    a(href="#") Paris
    a(href="#") France
    a(href="#") office@Mugicc.com
    a(href="#") Mugicc India LLP
    a(href="#") Regus 5th & 6th Floor Mafatlal House (“Building”) H.T.Parekh Marg, Backbay Reclamation
    a(href="#") Mumbai 400020
    a(href="#") India
    p office@Mugicc.com
    a(href="#")  Mugicc Italy S.r.l.
    a(href="#") c/o Fintech District
    a(href="#") Via Filippo Sassetti 32
    a(href="#") 20124 Milano
    a(href="#") Italy
    a(href="#") office@Mugicc.com
    a(href="#") Mugicc Netherlands
    a(href="#") Singel 540 3h
    a(href="#") 1017AZ, Amsterdam
    a(href="#") Netherlands
    a(href="#") office@Mugicc.com
    a(href="#") Mugicc Poland Sp. z o.o.
    a(href="#") Warsaw Skylight Skylight Building, 14th floor
    a(href="#") c/o Regus
    a(href="#") Ul. Zlota 59
    a(href="#") v00-120 Warszawa
    a(href="#") Poland
    a(href="#") office@Mugicc.com
    a(href="#") vMugicc AB
    a(href="#") Regeringsgatan 19
    a(href="#") vSE-111 53 Stockholm
    a(href="#") vSweden
    a(href="#") Reg no: 556703-7485
    a(href="#") voffice@Mugicc.com
    a(href="#") Mugicc Ltd
    a(href="#") vAdelphi Building
    a(href="#") 4 Savoy Place
    a(href="#") vLondon WC2N 6AT
    a(href="#") United Kingdom
    a(href="#") office@Mugicc.com
    a(href="#") Mugicc Mexico
    vPedregal 24 Torre Virreyes Piso 8
    a(href="#") Col. Molino del Rey
    a(href="#") DF 11040
    a(href="#") Mexico
    a(href="#") voffice@Mugicc.com
    a(href="#") Mugicc Israel
    a(href="#") office@Mugicc.com