doctype html
head
   link(rel="shortcut icon", href="images/logo.png", type="image/x-icon")
   style.
      body{
      background-color:black;
      font-weight:Poppers;
      color:white;
      text-align:center;
      padding-top:100px;
      font-size:50px;
      }
   h2  INFO
   small  With MUGICC, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more.
   |There are millions of tracks and episodes on MUGICC. So whether you’re behind the wheel, working out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let MUGICC surprise you.
   |You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.
   |Soundtrack your life with MUGICC
   br
   small ****Subscribe or listen for free****