doctype html 
html 
head 
    link(rel="shortcut icon", href="images/logo.png", type="image/x-icon")
    style.
        body{
        background-color:black;
        font-weight:Poppers;
        color:white;
        text-align:center;
        padding-top:100px;
        font-size:50px;
        }
        a{
            color:green;
        } 
        a:hover{
           color:red;
        } 
    h3 Customer Service and Support
    a(href="help")  Help site.
    p  Check out our help site for answers to your questions and to learn how to get the most out of MUGICC and your music.
    a(href="Community") community 
    p Get fast support from expert MUGICC users. If there isn't already an answer there to your question, post it and someone will quickly answer. You can also suggest and vote on new ideas for MUGICC or simply discuss music with other fans.
    a(href="Contact us") Contact our Customer Support 
    p if you don't find a solution on our support site or Community.
    a(href ="@MUGICCCares") Feeling sociable? 
    p Simply tweet the team and they'll do all they can to help.
    a(href ="Advertising on Spotify?") Advertisers section
    p Advertisers section
    a(href ="Press query?") Press section
    p Press section
    a(href ="Applying for a job?") Jobs section
    p Jobs section
    a(href ="MUGICC") 
    p USA, Inc. provides the MUGICC service to users in the United States. MUGICC AB provides the MUGICC service to users in all other markets.